@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
section {
  scroll-margin-top: 100px;
}

.jp-font {
  font-family: 'Bebas Neue', cursive;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0a1f0a;
}

::-webkit-scrollbar-thumb {
  background: #DC0000;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FFC500;
}